.container {
  width: 1200px;
  margin: auto;
  min-height: 100vh;
}

.flex-column {
  flex-direction: column !important;
}

.form-message {
  margin-bottom: 0px;

  .ant-form-item-control-input {
    min-height: 0px;
  }
}

.h1 {
  font-size: 33px;
  margin: 0px;
  font-weight: bold;
}

.h2 {
  font-size: 27px;
  margin: 0px;
  font-weight: bold;
}

.h3 {
  font-size: 21px;
  margin: 0px;
  font-weight: bold;
}

.h4 {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}

.user-avatar {
  background: #003766;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;

  > div {
    margin: auto;
  }

  &-small {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: normal;
  }
}

.flex-column {
  flex-direction: column !important;
}

.form-control {
  height: 48px;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker:focus,
.ant-picker-focused,
.ant-picker-affix-wrapper:focus,
.ant-picker-affix-wrapper-focused {
  box-shadow: none;
  -webkit-box-shadow: none;
}
