.device-container {
  .device_tabs_content {
    margin-top: 24px;
    width: 800px;

    &-lable {
      margin-bottom: 12px;
    }

    &-card {
      -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      box-sizing: border-box;
      transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 8px;
      background-color: @white;
      padding: 20px;

      display: block;
      position: relative;

      .card-option {
        margin-bottom: 12px;
      }
    }
  }
}

.chart {
  &_item {
    width: 100%;
    border: 1px solid @primary-color;

    &-header {
      padding: 24px 0px;
      font-size: 12px;

      strong {
        color: @primary-color;
      }
    }

    .ant-tabs-nav-list {
      width: 100%;

      .ant-tabs-tab {
        display: flex;
        justify-content: center;
        width: 25%;
        padding: 12px 0px !important;
        border-bottom-color: @primary-color !important;
        border-top: 0px !important;
        border-radius: 0px !important;
        margin-right: 0px !important;
        background-color: transparent !important;

        &-active {
          border-color: @primary-color !important;
          border-bottom-color: transparent !important;
        }
      }
    }
  }
}
