.device-form {
  &-container {
    padding-top: 120px;
  }

  &_header {
    .h3,
    a {
      color: @dark-gray;
      font-weight: normal;
    }

    a {
      margin-right: 24px;
    }
  }

  &_form-group {
    margin-top: 40px;
    padding-left: 40px;

    .form-control {
      margin-top: 24px;

      input {
        &::placeholder {
          font-weight: bold;
          font-size: 24px;
        }

        padding-left: 0px;
        font-weight: bold;
        font-size: 24px;
        color: @primary-color;
      }
    }
  }

  &_button-action {
    margin-top: 60px;

    .prev-button {
      button {
        color: @primary-color;
      }
    }

    .next-button {
      button {
        width: 200px;
        border-radius: 8px;
      }
    }
  }
}
